<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/otherpage.css" />
    <script defer src="/static/js/otherpage.js"></script>
    <script src="/static/js/follow.js"></script>
    <script src="/static/js/viewAll.js"></script>

    <!-- in HEAD -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

    <!-- axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>OtherPage</title>
  </head>

  <body>
    <div id="top">
      <a href="/main"><img src="../static/img/logo.png" /></a>
    </div>
    <div class="out"></div>
    <div class="profile-container">
      <div class="profile">
        <div class="profile-image">
          <% if (!userInfo.u_profile) { %>
          <img
            class="image-setting"
            src="/static/img/default-profile.png"
            alt="프로필 사진"
          />
          <% } else { %>
          <img
            class="image-setting"
            src="<%= '/' + userInfo.u_profile %>"
            alt="프로필 사진"
          />
          <% } %>
        </div>

        <div class="name"><%= userInfo.u_name %></div>
        <div class="id"><%= '@' + userInfo.u_id %></div>
        <button id="followButton" onclick="follow()">follow</button>
        <button id="unfollowButton" onclick="unfollow()">unfollow</button>
      </div>
      <br />
      <div class="info">
        <div class="following-container" onclick="following()">
          <div class="info-text">팔로잉</div>
          <div class="number"></div>
        </div>
        <div class="line"></div>
        <div class="follower-container" onclick="follower()">
          <div class="info-text">팔로워</div>
          <div class="number"></div>
        </div>
        <div class="line"></div>
        <div class="wish-container">
          <div class="info-text">위시리스트</div>
          <div class="number">100</div>
        </div>
        <div class="line"></div>
        <div class="read-container">
          <div class="info-text">읽은 책</div>
          <a href=""></a>
          <div class="number">100</div>
        </div>
      </div>
      <br />
      <div class="following-list hidden4">
        <div class="following-title">Following list</div>
        <div class="close4" onclick="closeFollowing()">&times;</div>
        <div class="followings-container"></div>
      </div>
      <div class="follower-list hidden5">
        <div class="follower-title">Follower list</div>
        <div class="close5" onclick="closeFollower()">&times;</div>
        <div class="followers-container"></div>
      </div>
    </div>
    <br />
    <div class="categories">
      <div class="category" id="category1">
        <h3>OO의 인생작</h3>
        <div class="lifelist">
          <div class="book" id="top1">
            <img class="lifeBook-cover" src="<%= img1%>" />
          </div>
          <div class="book" id="top2">
            <img class="lifeBook-cover" src="<%= img2%>" />
          </div>
          <div class="book" id="top3">
            <img class="lifeBook-cover" src="<%= img3%>" />
          </div>
        </div>
      </div>
      <br />
      <div class="category">
        <h3>읽고 싶은 책</h3>
        <!-- Slider container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
            <div class="swiper-slide book"></div>
          </div>

          <!-- 페이징 필요시 추가 -->
          <div class="swiper-pagination"></div>
          <!-- 이전, 다음 버튼 필요시 추가 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <br />
      <div class="category">
        <h3>읽은 책</h3>
        <div class="bookstack-list"></div>
        <br />
        <div class="all-container">
          <button
            class="all"
            onclick="location.href='/viewAll/<%=userInfo.u_id%>'"
          >
            전체보기
          </button>
        </div>
      </div>
      <br />
      <div class="category">
        <h3>내가 작성한 리뷰</h3>
        <!-- Slider container -->
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide review">
              <div class="text">너무 재미있게 읽었던 책이예요</div>
            </div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
            <div class="swiper-slide review"></div>
          </div>

          <!-- 페이징 필요시 추가 -->
          <div class="swiper-pagination"></div>
          <!-- 이전, 다음 버튼 필요시 추가 -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>

    <script>
      const otherId = "<%= userInfo.u_id%>";
      follow_set(otherId);
      follow_list_set(otherId);
      followBtnSet(otherId);
      get_data_and_stack(otherId);
      // const followBtn = document.querySelector('.follow');
      // const unfollowBtn = document.querySelector('.unfollow');

      // async function follow() {
      //   followBtn.addEventListener('click', () => {
      //         followBtn.classList.add('hidden');
      //         unfollowBtn.classList.remove('hidden');
      //     });
      //   try {
      //     const response = await axios({
      //       method: "POST",
      //       url: "/follow",
      //       data: {
      //         followingId: otherId
      //       }
      //     })
      //     location.href = `/otherpage/:${otherId}`;
      //   } catch (error) {
      //       console.log('interval error : ',error);
      //     }
      // }

      // async function unfollow() {
      //   unfollowBtn.addEventListener('click', () => {
      //         followBtn.classList.remove('hidden');
      //         unfollowBtn.classList.add('hidden');
      //     });
      //   try {
      //     const response = await axios({
      //       method: "POST",
      //       url: "/unfollow",
      //       data: {
      //         followingId: otherId
      //       }
      //     })
      //     location.href = `/otherpage/:${otherId}`;
      //   } catch (error) {
      //     console.log('interval error : ',error);
      //   }
      // }

      new Swiper(".swiper", {
        // 다양한 옵션 설정,
        // 아래에서 설명하는 옵션들은 해당 위치에 들어갑니다!!
        slidesPerView: 3,
        spaceBetween: 20,
        navigation: {
          prevEl: ".swiper-button-prev",
          nextEl: ".swiper-button-next",
        },
      });
    </script>
  </body>
</html>
