<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static\css\searchList.css" rel="stylesheet" />

    <title>Document</title>
      <!-- axios cdn -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>


<body>
    <div id="top">
        <a href='/'><img src="../static/img/logo.png"></a>

    </div>
    <!-- <h1>검색 결과 페이지</h1> -->

    <!-- <h2>검색창</h2> -->

    <!-- <div class="top_h2">어쩌라고 저쩌라고 어쩌라고 저쩌라고<br>검색해 검색해 검색</div> -->
		<div id="top_ad">
			<form action="/searchList" method="get">
				<input type="text" id="title" name="title" placeholder="통합 검색" value="<%= query || '' %>">
				<!-- <button type="button" id="searchBtn" onclick="search();">검색</button> -->
				<button id="searchBtn">검색</button>
			</form>
		</div>
		<div id="result"></div>
		<div class="top_explain">찾고싶은 책을 입력해주세요</div>

	<!-- <form action="/searchList" method="get">
		<input type="text" name="title" id="" value="<%= query || '' %>">
		<button>검색</button>
	</form> -->


<main>
        <div class="defaultText">
            <p><span class="searchTitle">'<%= query %>' </span>검색 결과</p>
                <div class="mini">
                    <p>검색 결과는 200 개까지 제공됩니다.</p>
                    <p>원하는 검색 결과를 찾지 못 했다면 보다 정확한 책 제목을 입력해보세요!</p>
                </div>
        </div>
    
        <div class="resultList">
            <% if(searchData && searchData.length > 0) { %>
                <% searchData.forEach(ele => { %>
                    <div class="result">
                        <a href="/detailGo?isbn=<%= ele.isbn %>">
                            <div class="coverBox">
                                <img class="img" src="<%= ele.cover  %>" alt="">
                            </div>
                        </a>
                        <div class="detailText">
                            <a href="/detailGo?isbn=<%= ele.isbn %>">
                                <p class="title"><%= ele.title %></p>
                            </a>
                            <p class="author"><%= ele.author %></p>
                            <div class="pub">
                                <p class="publisher"><%= ele.publisher %></p>
                                <span class="slash">|</span>
                                <p class="pubDate"><%= ele.pubDate %></p>
                            </div>
                            <p class="isbn">ISBN <%= ele.isbn  %></p>
                            <p class="description"><%= ele.description  %></p>
                            <p class="categoryName"></p>
                        </div>
                    </div>
                    <hr>
                <% }); %>
            <% } else { %>
                <div class="noResult">
                    <p>검색 결과가 없습니다.</p>
                </div>
                <% } %>
        </div>
    
        <div class="pagination">
            <% for (let i = 1; i <= totalPages; i++) { %>
                <a href="/searchList?title=<%= query %>&page=<%= i %>"><%= i %></a>
            <% } %>
        </div>
    
        
    
        <!-- 알라딘 api에 상세 정보 조회 params 전달하는 hidden form(페이지 전환이 필요해서 사용) -->
            <form name="searchDetail" action="/searchDetail" method="get">
                <input type="hidden" name="isbn" id="">
            </form>
    
    
</main>
    <script>
        // function formSubmit(isbn) {
        //     const form = document.forms['searchDetail'];
        //     form.isbn.value = isbn;

        //     form.submit()
        // }
    </script>

</body>
</html>